@import "src/variables.scss";

.website-footer-wrapper {
  background-color: $website-primary-dark;
  min-height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  .website-media-wrapper {
    width: 300px;
    mat-nav-list {
      mat-list-item {
        height: 36px;
        font-size: 100% !important;
        color: $website-primary-creme;
        svg {
          fill: $website-primary-creme;
        }
      }
    }
  }
  #instagram-img {
    opacity: 0.8;
  }
}
