@import "src/variables.scss";

$navbar-white: rgba($website-primary-white, 0.88);
$navbar-green: rgba($website-primary-neon-green, 0.75);
$navbar-green-light: rgba($website-primary-neon-green-light, 0.7);
$navbar-yellow: rgba($website-primary-neon-yellow, 1);


.website-toolbar {
  position: sticky;
  background-color: $navbar-white;
  height: 80px;
  display:flex;
  justify-content: space-around;
  box-shadow: 0 -14px 9px 12px rgba(0, 0, 0, .2);

  .website-toolbar-name {
    width: 55%;
  }

  .website-toolbar-options {
    display:flex;
    justify-content: space-around;
    width: 45%;
    height: 100%;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      box-shadow: inset 0 0 0 0 $navbar-yellow;
      transition: all ease 0.4s;
    }

    a:hover {

      box-shadow: inset 1000px 0 0 0 $navbar-green;
      background-position: top;
    }
  }
}
