<mat-toolbar class="fixed text-website-white uppercase flex justify-center gap-40 bg-black h-20 top-0" >
  <div class="website-toolbar-options">
    <a [routerLink]="'/about'" routerLinkActive="website-toolbar-active-link">
      <h1>About</h1>
    </a>
  </div>
  <div class="text-xl">
    <h1>Stefan Haslhofer</h1>
  </div>
  <div class="website-toolbar-options">
    <a [routerLink]="'/projects'" routerLinkActive="website-toolbar-active-link">
      <h1>Projects</h1>
    </a>
  </div>
</mat-toolbar>
