<mat-toolbar class="flex justify-around fixed text-website-white uppercase bg-black h-20 top-0">
  <div class="flex justify-end w-2/5 ">
    <a [routerLink]="'/about'" class="hover-underline-animation after:bg-website-white px-8">
      <h1>About</h1>
    </a>
  </div>
  <div class="text-xl px-8">
    <h1>Stefan Haslhofer</h1>
  </div>
  <div class="flex justify-start w-2/5 ">
    <a [routerLink]="'/projects'" class="hover-underline-animation after:bg-website-white px-8">
      <h1>Projects</h1>
    </a>
  </div>
</mat-toolbar>
