.picture-text-card {
  .picture-text-card-image {
    width: 100%;
    padding: 1em 6em;
    transition: all 0.4s cubic-bezier(0.445, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media screen and (max-width: 800px) {
  .picture-text-card {

    .picture-text-card-image {
      width: auto;
      height: 80%;
      padding: 4em 6em;
    }
  }

  .picture-text-card:hover {
    .picture-text-card-image {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.picture-text-card:hover {
  .picture-text-card-image {
    transition: all 0.4s cubic-bezier(0.445, 0.045, 0.355, 1);

    padding-right: 0;
    padding-left: 0;
  }

  transition: all .4s ease-in;

  .website-simple-line {
    stroke-dashoffset: 0;

    box-shadow: inset 1000px 0 0 0 #987654;
    background-position: top;
  }
}
