// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Website-primary: mat-palette($mat-indigo);
$Website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Website-theme: mat-light-theme($Website-primary, $Website-accent, $Website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Website-theme);


$custom-typography: mat-typography-config(
  $font-family: '"Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;'
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

html, body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.website-toolbar {
  a {
    text-decoration: none;
    color: black;
  }
}

app-about {
  max-width: 90%;
}

/*************************** scrollbar styling ***************************/
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*************************** svg-animation-styling ***************************/
.website-simple-svg {
  width: 105%;
  height: 8px;

  .website-simple-line {
    stroke-dasharray: 140%;
    stroke-dashoffset: 140%;
    transition: stroke-dashoffset 2s;
    stroke: $website-primary-bown;
    stroke-width: 4;
  }
}

/*************************** card-styling ***************************/
.card-wrapper {
  margin-bottom: $website-margin;
  display: flex;
  justify-content: center;

  .content-card {
    display: flex;
    justify-content: center;
  }

  .content-card-reverse {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .content-card-text {
    margin: 15px;

    .content-card-header {
      margin-top: 3px;
      text-transform: uppercase;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      h3 {
        margin: 0;
      }

      button {
        line-height: inherit;
        height: inherit;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  app-picture-text-card {
    max-width: 90%;
    height: 15rem;

    .picture-text-card {
      height: 100%;

      .content-card-text {
        overflow: scroll;
      }
    }
  }

  app-picture-card {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .card-wrapper {

    app-picture-text-card {
      .content-card {
        flex-direction: column;
      }
    }

    .content-card-text {
      height: 200%;
    }

    app-picture-text-card {
      width: 85%;
      height: 25rem;
    }
  }
}
