$website-primary-white: white;
$website-primary-neon-yellow: #ccff15;
$website-primary-neon-green: #39ff14;
$website-primary-neon-green-light: #AEFF14;
$website-primary-dark: #31302B;
$website-primary-bown: #987654;

$website-margin: 5rem;
